*{
    margin: 0;
    padding: 0;
}

body{
     width: 100%;
     font-family: 'Courier New','Gulim';
}

/*ナビゲーション*/

nav{
     margin-botoom: 20px;
     overflow: hidden;
     text-align: center;
     width: 150px;
     height: auto;
     float: right;
     margin-top: 72px;
    
}

nav li{
     list-style-type: none;
     width: auto;
     padding: 10px;
     margin-bottom: 20px;
     border: 2px solid ghostwhite;
     color: ghostwhite;
    
}

nav a{
     text-decoration: none;
     border: none;
     color: #7d8687;
     border-radius: 0;
     padding: 8px;
     transition: 0.5s;
     display: block;
}

nav a:hover{
     background: #7d8687;
     color: #7d8687;
}

nav a:link{
     color: ghostwhite;
}

nav a:visited{
     color: ghostwhite;   
}
nav a:active{
     color: #7d8687;   
}

/*トップページ*/

.top{
     width: 100%;
     height: 600px;
     background-size: cover;
     -moz-background-size:cover;
} 

.left{
     float: left;
     width: 600px;
}

.in{
     width: 950px;    
     height: auto;
     margin: auto;
     padding: 50px;
}

h1{ 
     color: ghostwhite;
     padding: px;
     width: 370px;
}

p1{
     color: ghostwhite;
     margin-top: 30px;
}

/*自己紹介ページ*/

.iam{
      background-size: cover;
      -moz-background-size:cover;
      color: #7d8687;
      margin-botom: 30px;
    text-align: center;
    
}

h2{
     border: 1px solid ;
     color: ;
     border-radius: px;
     padding: 10px;
     width: 100px;
     text-align: center;
}

.list-iam{
     margin-top: 30px;
    list-style-type: none;
}

/*マウスを乗せたらぬるっと拡大*/

.me{
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
    margin-bottom: 15px
}
.me:hover{
        -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}



.music{
       width: 100%;
     height: auto;
     background-image: url(../images/stars.jpg);
     background-size: cover;
     -moz-background-size:cover;
     color: ghostwhite;
}

.list-music{
     overflow: hidden;
     margin-top: 30px;
}

.list-music li{
    width: 276px;
    background: #fff;
    list-style-type: none;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}

h3{
     color: #7d8687;   
}

/*動画画面をマウスを乗せたらはっきり見えるようにする*/

.fade {  
    -webkit-transition: 0.3s;  
       -moz-transition: 0.3s;
         -o-transition: 0.3s; 
            transition: 0.3s;
    opacity: 0.4;
}  
.fade:hover {  
    opacity: 1;  
    filter: alpha(opacity=60);  
}   

.place{
     background-size: cover;
      -moz-background-size:cover;
      color: #7d8687;
      background-color: #f2f3f3;   
}

.list-place li{
        background-color: white;
        margin-top: 20px;
        padding: 10px;
        list-style-type: none;
}


.creator{
    background-size: cover;
      -moz-background-size:cover;
      color: #7d8687;
      background-color: ghostwhite;
}

.list-creator{
    margin-top: 30px;
    list-style-type: none;
    background-color:;
    padding: ;
}

.list-creator li{
    margin-bottom: 10px ;
    background-color:white;
    padding: 10px;
}

.creator a:visited { 
     color:#7d8687; 
}

.creator a:hover {
     color: #F7D94C; 
}

.creator a:active {
     color: #7d8687; 
}

/*マウスを乗せたら拡大、マウスをずらしたら元の大きさに*/

.creatorimg{
        -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
    margin-bottom: 15px
}

.creatorimg:hover{
         -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

/*クリックしたらトップページへ*/

.scrolltop{
    position:fixed;
    bottom:0px;
    right: 0px;
}
